<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.kylebarlow.android.crickettherm"
      android:versionCode="1"
      android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="14"/>
    
    <!-- Permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to retrieve the list of accounts in the Accounts Service -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permission to request authtokens from the AccountManager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.Lighttheme">
        <activity android:name=".CricketTherm"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>